.app{
  width: 100%;
  height: 56.5em;
}
.home-page{
  background-image: url("../src/assets/images/background.jpg");
  width: 100%;
  height: 100%;
}
.home{
  -webkit-box-shadow: inset 0px 0px 100px 63px rgba(1, 1, 1, 1);
  -moz-box-shadow: inset 0px 0px 100px 63px rgba(1, 1, 1, 1);
  box-shadow: inset 0px 0px 100px 63px rgba(1, 1, 1, 1);
  backdrop-filter: brightness(40%);
  -webkit-backdrop-filter: brightness(40%);
  width: 100%;
  height: 100%;
}
.login{
  backdrop-filter: brightness(50%);
  -webkit-backdrop-filter: brightness(50%);
  width: 100%;
  height: 100%;
}
.login-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../src/assets/images/background.jpg");

}
.logo{
  padding-left:11em;
}
.profilespage{
background-color: #141414;
width: 100%;
height: 100%;
}
