.app{
  background-image: url("../src/assets/background.jpg");
  width: 100%;
  height: 56.5em;
  -webkit-box-shadow: inset 0px 0px 100px 63px rgba(1, 1, 1, 1);
  -moz-box-shadow: inset 0px 0px 100px 63px rgba(1, 1, 1, 1);
  box-shadow: inset 0px 0px 100px 63px rgba(1, 1, 1, 1);
}